.cluster-tree {
    background: #e2e2e246;
    border-radius: 10px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
}

/* .cluster-tree :hover {
    background: #00e7c511;
    border-radius: 10px;
} */

.highlight {
    background: #00e7c5;
}